<h1>Welcome</h1>

<a href= "/attendance">See attendance Here </a>
<br>
<a href= "/attendance/new">Log your attendance with notes from the required reading</a>
<br>
<br>
<a href= "/signup">Signup</a>
<br>
<br>
<a href= "/login"> Login</a>
<br>
<br>
<a href= "/logout"> Logout</a>

